[Desktop Entry]
Comment=Use the command line the old way
Exec=nostalgic-terminal
GenericName=Terminal emulator
Icon=nostalgic-terminal
Name=Nostalgic Terminal
Categories=System;TerminalEmulator;
StartupNotify=true
Terminal=false
Type=Application
Keywords=shell;prompt;command;commandline;
Actions=NewWindow;

[Desktop Action NewWindow]
Name=New Window
Exec=nostalgic-terminal
